body {
    font-family: "Arial";
    background-color: #cccccc;
    padding:0;
    margin:0;
    text-align: center;
}

#scourge {
    min-height: 635px;
}

#tron {
    min-height: 815px;
}

#twoplayersnake {
    min-height: 835px;
}

.container {
    width:80%;
    margin: auto;
    overflow:hidden;
}

header {
    background-color:#303030;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
}

a {
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    text-align: center;
    padding:0;
    margin:0;
    list-style-type: none;
}

li {
    padding: 0 20px 0 20px;
    font-size: 20px;
}

nav {
    margin-top:10px;
}

a:hover {
    color:#cccccc;
}

#current {
    color:#e8491d;
}

#myOutput {
    text-align: center;
    background-color: #eeeeee;
    width: 30px;
}

.fix {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 15px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}
